@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', sans-serif;
}

:root {
  color-scheme: dark;
  --color-primary: #F99C23;
  /* Naranja - Botones, enlaces principales */
  --color-dark: #22272E;
  /* Gris Oscuro - Fondos, encabezados */
  --color-accent: #58C3E4;
  /* Azul Claro - Elementos destacados o hover */
  --color-light: #F2F5F7;
  /* Blanco - Texto principal, fondos claros */
  --color-gold: #D4AF37;
  /* Dorado Metálico - Detalles, íconos, bordes o botones especiales */
  --main-bg-color:  rgba(34, 39, 46, 0.7);

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p,
span,
a {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

strong {
  font-size: inherit;
}

a:hover {
  color: var(--color-primary)
}