.title {
  font-size: 3.6rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2rem;
  background-color: var(--main-bg-color);
  color: #fff;
  border-radius: 0.8rem;
  text-align: center;
  padding-top: 10rem;
}

.details {
  margin-top: 1.6rem;
}

.characters {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.goals {
  margin-top: 1.6rem;
}

.container strong,
.container h3 {
  color: var(--color-primary);
}

.details h3 {
  font-size: 2.4rem;
  margin: 2rem 0;
}


/* Estilos generales de la tarjeta */
.heroCard {
  width: 40rem;
  height: 33rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  transition: height 0.5s, transform 0.5s;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  interpolate-size: allow-keywords;
}

.heroImage img {
  width: 100%;
  border-radius: 1rem;
  /* 10px */
  transition: all 0.3s ease-in-out;
  filter: grayscale(1);
}


.heroInfo {
  text-align: center;
  padding: 1rem;
  /* 10px */
}


.heroDescription {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
  padding: 1rem;
  /* 10px */
  text-align: center;
}


.heroCard:hover {
  transform: scale(1.1);
  overflow: visible;
  height: auto;
}

.heroCard:hover .heroDescription {
  opacity: 1;
  max-height: 10rem;
}

.heroCard:hover .heroImage img {
  filter: grayscale(0);
}